<div class="p-2">
  <h2>Step 2: Select your config and options</h2>
  <div class="mt-2">
    <!--config select-->
    <div>
      <label for="configSelect">Config:</label>
      <select
        id="configSelect"
        [(ngModel)]="config"
        [compareWith]="selectComparatorHelper.compareId"
        (ngModelChange)="updateConfigSelection()"
      >
        <option disabled [ngValue]="undefined">Choose...</option>
        @for (config of configOptions()?.configs; track config.id) {
          <option [ngValue]="config">
            {{ config.description }}
          </option>
        }
      </select>
    </div>
  </div>
  <div class="mt-2">
    <configuration-image></configuration-image>
  </div>
</div>
