<div class="p-2">
  <h2>Step 2: Select your config and options</h2>
  <div class="mt-2">
    <!--config select-->
    <div>
      <label for="configSelect">Config:</label>
      <select
        id="configSelect"
        [(ngModel)]="config"
        [compareWith]="selectComparatorHelper.compareId"
        (ngModelChange)="updateConfigSelection()"
      >
        <option disabled [ngValue]="undefined">Choose...</option>
        @for (config of configOptions()?.configs; track config.id) {
          <option [ngValue]="config">
            {{ config.description }}
          </option>
        }
      </select>
    </div>
  </div>
  @if (config) {
    <div class="mt-2">
      <!--config infos-->
      <span
      >Range: {{ config.range }} miles - Max speed: {{ config.speed }} -
        Price: {{ config.price | currency: "USD" }}</span
      >
    </div>
  }
  @if (configOptions()?.towHitch) {
    <div class="mt-2 d-flex align-items-center">
      <label for="includeTow">Tow Hitch?</label>
      <input
        type="checkbox"
        id="includeTow"
        [(ngModel)]="towHitch"
        (ngModelChange)="updateTotalSelection()"
      />
    </div>
  }
  @if (configOptions()?.yoke) {
    <div class="mt-2 d-flex align-items-center">
      <label for="includeYoke">Yoke steering wheel?</label>
      <input
        type="checkbox"
        id="includeYoke"
        [(ngModel)]="yoke"
        (ngModelChange)="updateTotalSelection()"
      />
    </div>
  }
</div>
